// Mobile
.grid-container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"nav"
"main"
}
.header {
    grid-area: header;
    }
    .main-nav {
    grid-area: nav;
    }
    .main {
    grid-area: main;
    }
// 768px
    @media (min-width: 768px) {
        .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "nav main"
        "nav main";
        }
        }
.main {
    display: grid;
}
    @media (min-width: 768px) {
    .main {
    grid-template-columns: 50% ;
    }
    }
    @media (min-width: 768px) {
        .traffic, .social {
        grid-column: 1 / span 2;
        }
        }
