// Mobile
.grid-container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"nav"
"main"
}
.header {
    grid-area: header;
    }
    .main-nav {
    grid-area: nav;
    }
    .main {
    grid-area: main;
    grid-template-columns: 100%;
    }
    .widget-container-full, .widget-container-half {
        width: 95vw;
        }
// 768px
    // Main Grid
@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main"
    "nav main";
    }
    }
    .main {
    display: grid;
}
// width of double
@media (min-width: 768px) {
    .main {
    grid-template-columns: 50% ;
    }
    }
@media (min-width: 768px) {
    .dashboard-header {
        grid-column: 1 / span 2;
    }
    .alert {
        grid-column: 1 / span 2;
    }
    .traffic, .social-container, .mobile-user, .daily {
    grid-column: 1 / span 2;
    }
    .social-card {
        width: 30%;
    }
    }
      
@media(min-width: 768px){
    .traffic-nav-link {
    padding: 0 .5em 0 .5em;
    }
    } 
@media (min-width: 768px) {
    .members, .message {
    grid-column: 1 / span 1;
    }
    }
@media (min-width: 768px) {
        .activity, .settings {
    grid-column: 2 / span 1;
    }
    }
@media (min-width: 768px) {
    .widget-container-full {
    width: 90vw;
    }
    .widget-container-half {

    width: 45vw;
    }
    }
        
                 
                        



                        
// 1068px
@media (min-width: 1024px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main"
    "nav main";
    }
    }
.main {
display: grid;

}
@media (min-width: 1024px) {
.main {
grid-template-columns: 50% ;
}
}
@media (min-width: 1024px) {
    .dashboard-header {
        grid-column: 1 / span 2;
    }
    .alert {
        grid-column: 1 / span 2;
    }
    .traffic, .social-container {
    grid-column: 1 / span 2;
  }

   }
   @media (min-width: 1024px) {
    .daily, .members, .message {
    grid-column: 1 / span 1;
    }
    }
    @media (min-width: 1024px) {
        .mobile-user, .activity, .settings {
        grid-column: 2 / span 1;
        }
        }

        @media (min-width: 1024px) {
            .widget-container-full {
                width: 95vw;
                }
            .mobile-user, .daily{
                width: 45vw;
            }}
    