.traffic {
background-color: whitesmoke;
width:100%;
margin: 0 auto;
    
.traffic-header{ 
display: flex;
justify-content: space-between;
align-items: center;

}h3{
display: inline;
padding: 1em;
width: 30%;
}ul{
display: flex;
}
li {
display: inline;
padding: .2rem;
width: 50%;
}
}
// half size widgets
.daily {
    width:100%;
    margin: 0 auto;
h3 {
    padding: 1rem;
}}

.mobile-user{
    background-color:whitesmoke;
    width:100%;
    margin: 0 auto;  
 h3 {
     padding: 1rem;
 }}

//  Social Media 

.social-container {
display: flex;
width: 95%;
justify-items: center;
flex-direction: row;
margin: 0 auto;
flex-wrap: wrap;
h3 {
    padding: 1rem;
    width: 100%;
}}
.social-card {
width: 100%;
background-color: whitesmoke;
display: flex;
margin: 1rem;
justify-content: center;
margin: 1em auto;
padding: 2em;
}
.social-card p:nth-child(2){
    font-size: 2em;
}
.social-image {
    height: 3rem;
    width: 3rem;
    background-color: purple;
    border: solid 1px transparent;
    border-radius: 50%;
}
.social-svg {
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
}
.to-fill {
    fill: white;
    display: block;
    margin: 0 auto;
}