.traffic {
background-color: whitesmoke;
margin: 0 auto;
width: 100%;

    
.traffic-header{ 
display: flex;
justify-content: space-between;
align-items: center;

}h3{
display: inline;
padding: 1em;
width: 30%;

}ul{
display: flex;

}
li {
display: inline;
padding: .2rem;
width: 50%;

}
}

.traffic-nav-link {
    border: transparent;
    background-color: whitesmoke;
    flex: 1 1 0;
    border-radius: 16px;
    height: 1.3em;
}
.active {
    background-color: chartreuse;
  
}
// half size widgets
.daily {
    width: 100%;
    margin: 0 auto;
h3 {
    padding: 1rem;
}}

.mobile-user{
    background-color:whitesmoke;
    width: 100%;
    margin: 0 auto;  
 h3 {
     padding: 1rem;
 }}
