.traffic {
background-color: whitesmoke;
width:100%;
margin: 0 auto;
    
.traffic-header{ 
display: flex;
justify-content: space-between;
align-items: center;

}h3{
display: inline;
padding: 1rem;
}ul{
display: flex;
}
li {
display: inline;
padding: .5rem;
}
}
// half size widgets
.daily {
    
    width:100%;
    margin: 0 auto;
h3 {
    padding: 1rem;
}}

.mobile-user{
    background-color:whitesmoke;
    width:100%;
    margin: 0 auto;  
 h3 {
     padding: 1rem;
 }}

//  Social Media 

.social-container {
display: flex;
width: 100%;
justify-content: space-between;
justify-items: center;
flex-wrap: wrap;
h3 {
    padding: 1rem;
    width: 100%;
}}

.social-card {
flex-basis: 1/3;
background-color: whitesmoke;
display: flex;
margin: 1rem;
justify-content: center;
height: 80%;
padding: 2em;
flex: 1 1 auto;
flex-wrap: nowrap;

}

.socialimage {
    background-color: whitesmoke;
    height: 2rem;
    width:2rem;
}
.social-card p:nth-child(2){
    font-size: 2em;
}
