.dashboard-header {
display: flex;
align-items: center;
text-align: center;
width: 100%;
h2 {
 
 border-bottom: none;
 padding: 1rem;
 height: 100%;
}}

.main-header-search {
margin-left: auto;
width: 75%;
background-color: whitesmoke;
display: flex;
border-bottom: 1px solid black;
border-left: solid 1px black;
border-bottom-left-radius: .5em;
padding: 1.125rem;
flex-grow: 1;
input {
    width: 75%;
    justify-self: right;
    padding: .5em;
    margin-left: auto;
    margin-right: 1em;
    border-radius: 5px;
    height: 2em;
    line-height: 2em;

}}
.headline {
    padding: 1em;
}
// Alert bar
.alert {
    text-align: center;
    background-color: $secondarycolor;
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
 
 strong {
     color: white;
     padding: 1em;
 }p{
    display: inline;
    padding-right: 1rem;
    color: white;
}}