.dashboard-header {
display: flex;
align-items: center;
text-align: center;

h2 {
 background-color: whitesmoke;
 border-bottom: none;
 padding: 1rem;
}}

.main-header-search {
margin-left: auto;
width: 75%;
background-color: whitesmoke;
display: flex;
border-bottom: 1px solid black;
border-left: solid 1px black;
border-bottom-left-radius: .5rem;
padding: 1.125rem;
input {
    width: 75%;
    justify-self: right;
    padding: .2rem;
    margin-left: auto;
    margin-right: .5rem;
    border-radius: 5px;
    height: 2em;
    line-height: 2em;
  
}}
.headline {
    padding: 1rem;
}
// Alert bar
.alert {
    text-align: center;
    background-color: black;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
 strong {
     color: white;
     padding: 1em;
 }span {
    display: inline;
    padding-right: 2rem;
    color: white;
}}