header {
    height: 5rem;
    border-bottom: 1px solid black;
    background-color: orange;
    margin: 0 auto;
    display: flex;
    align-items: center;
    } 

    h1 {
        width: 80%;
        padding-left: .5rem;
    }

    .profile-pic {
        display: flex;
        margin-left: auto;
        border-left: 1px solid black;
        width: 20%;
        align-items: center;
       
    }
    .notify {
       align-items: center;
       width: 5%;
     
    }
    .bell-icon {
    height: 1.5rem;
    width: 1.5rem;
    
    }
    .profile-pic img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    align-self: center;
    padding-left: .5rem;
    }

    .profile-pic h3 {
        padding-left: .5rem;
    }