header {
height: 4em;
width: 100%;
border-bottom: solid 1px black;
background-color: $secondarycolor;
display: flex;
align-items: center;
position: relative;

h1 {
    color: white;
    width: 75%;
    line-height: 1;
    font-size: 1.2em;
    padding: .5em;
}}
.profile-pic {
    display: flex;
    border-left: 1px solid white;;
    align-items: center;
    color: white;
    margin-left: auto;
}

.bell-wrap {
    align-items: center;
    margin-right: 1.5rem;
    fill: white;
    position: absolute;
    right: 8rem;
}

 .bell-icon {
    height: 2em;
    width: 2em;
    margin-left: auto;
   
}
.bell-icon:hover{
    animation: bell 2s ease-out;
    transform-origin: 50% 50%;
}

@keyframes bell {
    0%, 25%, 75%, 100% {
      transform: rotate( 0deg );
    }
    40% {
      transform: rotate( 45deg );
    }
    45% {
      transform: rotate( -45deg );
    }
    55% {
      transform: rotate( 45deg );
    }
    60% {
      transform: rotate( -45deg );
    }
  }

.notify {
    position: absolute;
    right: .3rem;
    top: 0;
    height: .5em;
    width: .5em;
    border-radius: 50%;
    background-color: lightgreen;
}

.profile-pic img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    align-self: center;
    padding-left: .5rem;
    }

    .profile-pic h3 {
        padding-left: .5rem;
        font-size: .9em;
        padding-right: .5em;
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: auto;
        width: 100%;
        height: 100%; 
        background-color: $primarycolor;
      
    }
    .modal-header {
        color: white;
        width: 70%;
        margin: 2em auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    .modal-content {
        background-color: whitesmoke;
        margin: 2em auto; 
        padding: 1.125em;
        border: 1px solid #888;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
      p {
        padding: .5em;
      }}

      .close {
        color:red;
        font-size: 3.8em;
        font-weight: bold;
        
      }
      .close:hover,
      .close:focus {
        color: grey;
        text-decoration: none;
        cursor: pointer;
        }


















