.header {
height: 4em;
width: 100%;
border-bottom: solid 1px black;
background-color: black;
display: flex;
align-items: center;
position: relative;
h1 {
    color: white;
    width: 75%;
    line-height: 1;
    font-size: 1.2em;
    padding: .5em;
}}
.profile-pic {
    display: flex;
    border-left: 1px solid white;;
    align-items: center;
    color: white;
    margin-left: auto;
    position:absolute;
    right: 5;
}

.notify {
    align-items: center;
    margin-right: 1rem;
    fill: white;
    position: absolute;
    right: 135;
}

 .bell-icon {
    height: 2em;
    width: 2em;
    margin-left: auto;
}

.profile-pic img {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    align-self: center;
    padding-left: .5rem;
    }

    .profile-pic h3 {
        padding-left: .5rem;
        font-size: .9em;
        padding-right: .5em;
    }




















