header {
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid black;
    background-color:black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    } 
    h1 {
        flex: 1 1 0;
        padding-left: .5rem;
        color: white;
    }

    .profile-pic {
        display: flex;
        margin-left: auto;
        border-left: 1px solid white;;
     
        align-items: center;
        color: white;
     
    }
    .notify {
       align-items: center;
       flex-basis: auto;
       margin-right: 1rem;
       fill: white;
       
    }
    .bell-icon {
    height: 2em;
    width: 2em;
}
    .profile-pic img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    align-self: center;
    padding-left: .5rem;
    }

    .profile-pic h3 {
        padding-left: .5rem;
   
    }