// Members
.members {
   display: block;
    width: 100%;

h3 {
   padding: 1em; 
}
.members-container{
    background: whitesmoke;
    padding: 1em;
    border-top: solid 1px lightgray;  
    display: flex;
    justify-content: left;
    align-items: center; 
    
img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 1em;
    min-width: 0;
}}}
.members-text {
    padding-right: 1em;
    font-size: 1em;
    flex: 1 1 0; 
    min-width: 0;
a {
    font-size: .8em;
    flex: 1 1 0;
    min-width: 0;
}}


.date {
    margin-bottom: .2em;
}
// Activity
.recent-activity{
    display: block;
    width: 100%;
   
    
.activity-container{
    background: whitesmoke;
    padding: 1em;
    border-top: solid 1px lightgray;
    border-left: solid 2px lightgray;
    display: flex;
    align-items: center; 
    position: relative;
img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 1em;
.activity-text{
    display: flex;
    flex-direction: column;
    justify-self: center;
  }}}}
.arrow{
    position: absolute;
    right: 1em;
    top: 1.2em;
    color: lightgrey;
    font-size: 1.7em;
}
.activity-text p:nth-child(2){
    font-size: .8em;
   
}
.recent-activity h3 {
    padding: 1em;
}