// Members
.members {
    display: block;
    width: 100%;

h3 {
   padding: 1em; 
}
.members-container{
    background: whitesmoke;
    padding: 1em;
    margin: .5em;
    display: flex;
    align-items: center;
    flex-grow: 1;
    
img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-right: 2em;
}}}
.members-text {
    padding-right: 1em;
}

// Activity
.recent-activity{
    display: block;
    width: 100%;
.activity-container{
    background: whitesmoke;
    padding: 1em;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: left;
    
img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-right: 2em;
.activity-text{
    display: flex;
    flex-direction: column;
    justify-self: center;
  
  
}}}}
