// Members
.members {
   display: block;
    width: 100%;

h3 {
   padding: 1em; 
}
.members-container{
    background: whitesmoke;
    padding: 1em;
    border-top: solid 1px lightgray;  
    display: flex;
    justify-content: left;
    align-items: center; 
   
    
img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 1em;
    min-width: 0;
}}}
.members-text {
    padding-right: 1em;
    font-size: 1em;
    flex: 1 1 0; 
    min-width: 0;
a {
    font-size: .9em;
    flex: 1 1 0;
    min-width: 0;
}}

// Activity
.recent-activity{
    display: block;
    width: 100%;
   
    
.activity-container{
    background: whitesmoke;
    padding: 1em;
    border-top: solid 1px lightgray;
    border-left: solid 2px lightgray;
    display: flex;
    align-items: center; 
img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: 1em;
.activity-text{
    display: flex;
    flex-direction: column;
    justify-self: center;
   }}}}

.activity-text p:nth-child(2){
    font-size: .8em;
    font-style: italic;
}
.recent-activity h3 {
    padding: 1em;
}