.main-nav {
    width: 100%;
    display: block;
    background-color: $primary-dark;
    text-align: center;

} 

.main-nav img {
display: inline-block;
height: 3em;
width: 3em;
margin-top: 1rem;
margin-bottom: 1rem;
padding: .5rem;
background-color: $primary-dark;
fill: lightgrey;
}
.bordered{
    border-left: solid 4px lime;
    fill: white;
}