.main-nav {
    height: 100px;
    width: 100%;
    display: block;
    background-color: chartreuse;
    text-align: center;
} 

.main-nav img {
display: inline-block;
width: 2rem;
margin-top: 1.5rem;
padding: .75rem;
}
