// Messager 
.messenger-container {
    background: whitesmoke;
    padding: 1em;
    border-top: solid 1px lightgray;
    align-items: left;

textarea {
    display: block;
    margin-top: .5em;
    line-height: 2em;
    border-top: solid 1px lightgray;
    width: 100%;
    border-radius: 4px;
}}
input {
    display: block;
    margin: 1em 0 1em 0;
    height: 2em;
    line-height: 2em;
    border: solid 1px gray; 
    width: 100%;
}

.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: .6rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: $secondarycolor !important;
    color: #ffffff;
  }


.form-container{
    display: flex;
    flex-direction: column;
}
.button-primary {
    background-color: $primarycolor;
    height: 2.75em;
    width: 50%;
    margin: 1rem auto;
    border-radius: .5em;
    box-shadow: inset;
    color: white;
}

// Settings

.settings {
    background: whitesmoke;
    padding: 1em;
    border-top: solid 1px lightgray;
    border-left : solid 2px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column; 
    
}
.switch-light{
 display: flex;
 padding: 1em 1em 1em 0;
 width: 100%;;
}

.toggle-buttons {
    display: flex;
}
.span-container {
    width: 20%;
}
.form-field {
    height: 2.75em;
    border-radius: .5em;
    color: black;
}
.settings-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1em 0 1em 0; 
}
.save-button-primary {
    width: 45%;
    height: 2.75em;
    background-color: $primarycolor;
    color: white;
    border-radius: .5em;

}
.button-disabled {
    width: 45%;
    height: 2.75em;
    background-color: gray;
    color: white;
    border-radius: .5em;
}

