// Messager 
.messenger-container {
    background: whitesmoke;
    padding: 1em;
    margin: .5em;
    align-items: left;
 
input {
    display: block;
    margin: 1em 0 1em 0;
    height: 2em;
    line-height: 2em;
textarea {
    display: block;
    margin: 1em;
    line-height: 2em;
}}}

.form-container{
    display: flex;
    flex-direction: column;
}
.button-primary {
    background-color: $primarycolor;
    height: 2.75em;
    width: 50%;
    margin: 1rem auto;
    border-radius: .5em;
    box-shadow: inset;
    color: white;
}

// Settings

.settings {
    background: whitesmoke;
    padding: 1em;
    margin: .5em;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column; 
}
.switch-light{
 margin: 0 auto;
 flex-direction: row;
justify-content: space-between;
align-items: left;;
 padding: 1em 1em 1em 0;
 width: 75%;
strong {
    display: inline-block;
span {
    display: block;
    
}}}
.form-field {
    height: 2.75em;
    border-radius: .5em;
}
.settings-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1em 0 1em 0; 

}
.save-button-primary {
    width: 45%;
    height: 2.75em;
    background-color: $primarycolor;
    color: white;
    border-radius: .5em;

}
.button-disabled {
    width: 45%;
    height: 2.75em;
    background-color: gray;
    color: white;
    border-radius: .5em;
}

