//  Social Media 

.social-container {
    display: flex;
    width: 95%;
    justify-items: center;
    flex-direction: row;
    margin: 1em auto;
    flex-wrap: wrap;
    h3 {
        padding: 1rem;
        width: 100%;
    }}
    .social-card {
    width: 1/3;
    background-color: whitesmoke;
    display: flex;
   
    justify-content: center;
    margin: 1em auto;
    padding: 2em;
    }
    .social-card p:nth-child(2){
        font-size: 2em;
    }
    .social-image {
        height: 3rem;
        width: 3rem;
        background-color: purple;
        border: solid 1px transparent;
        border-radius: 50%;
    }
    .social-svg {
        width: 60%;
        height: 60%;
        display: block;
        margin: 0 auto;
    }
    .to-fill {
        fill: white;
        display: block;
        margin: 0 auto;
    }