//  Social Media 

.social-container {
    display: flex;
    width: 95%;
    justify-items: center;
    flex-direction: row;
    margin: 1em auto;
    flex-wrap: wrap;
    h3 {
        padding: 1rem;
        width: 100%;
    }}
    .social-card {
    width: 33%;
    background-color: whitesmoke;
    display: flex;
    margin: 1em auto;
    padding: 2em;
    justify-content: center;
    
    }
    .social-card p:nth-child(1){
        color: $primarycolor;
        font-weight: bold;
        
    }
    .social-card p:nth-child(2){
        font-size: 2em;
    }
    .social-image {
        height: 3em;
        width: 3em;
        background-color: $primarycolor;
        border: solid 1px transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
    .social-image svg {
        width: 50%;
        height: auto;
    }
    .social-image svg:nth-child(0){
        margin-top:4px;
    }
    .social-image svg path {
        fill: white;
    }