* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    width: 100%;
  
}

.darkMode {
    background-color: black;
    color: white;
}